/****************** GENERAL *********************/

.div-principal-welcome {
    background: url('../pix/business.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
            
.barra-top-menu {
    background: #023C81;
}

.menu-dashboard {
    margin-top: -1.5rem;
    background: #024C90;
    min-height: 100vh;
}

.tab-dashboard {
    border: 1px solid #023C81;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}